/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/11/2019, 15:18:52
    Author     : joseo
*/


body{
    background-image:url("imagens/fundo_html.jpg");
     background-size: 34%
}
.formulario{
                margin: auto;
                width:180px;
                background-color:white ;
                padding:30px;
               
                
}



input[type=submit] {
  border: 2px solid green;
  
}
input[type=text]{
    border: 2px solid red;
}
input[type=password]{
    border: 2px solid red;
    
}

.imgLogo {
    position:  absolute;
    top: 0;
    left: 1100px;
}
#bb{
    transform: rotateY(180deg);
}

h1{
  text-align: center; 
  color: black;
}

h2{
    color: red;
    text-align: center; 
}

p{
    text-align: center;
}
